@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.social-media {
  @apply cursor-pointer hover:text-title transition ease-in-out duration-150 hover:scale-110 hover:-translate-y-1;
}

.project-input {
  @apply rounded p-2 
}

.input-container { 
  @apply flex flex-col w-full
}

.input-container-title {
  @apply text-white font-light mb-1
}